HOST=gmail
PORT=587
USER=modernmorven@gmail.com
PASS=myzf lbsc grkk rcdz
BACKPORT=8000
ORIGIN=http://127.0.0.1:3000
DBLOC=mongodb://127.0.0.1:27017/modernmorven
DBNAME=modernmorven
DBUSERNAME=adminlog
DBPASSWORD=MK*123karlal
DBAUTHSOURCE=modernmorven